<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.sperms.dao.mapper.EquipmentMapper" >
  <resultMap id="BaseResultMap" type="com.smart.sperms.dao.model.Equipment" >
    <id column="e_id" property="eId" jdbcType="VARCHAR" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
    <result column="e_standard" property="eStandard" jdbcType="VARCHAR" />
    <result column="e_manufacturer" property="eManufacturer" jdbcType="VARCHAR" />
    <result column="e_type" property="eType" jdbcType="VARCHAR" />
    <result column="e_date" property="eDate" jdbcType="TIMESTAMP" />
    <result column="e_state" property="eState" jdbcType="VARCHAR" />
    <result column="e_enable" property="eEnable" jdbcType="INTEGER" />
    <result column="e_longitude" property="eLongitude" jdbcType="VARCHAR" />
    <result column="e_latitude" property="eLatitude" jdbcType="VARCHAR" />
    <result column="e_condition" property="eCondition" jdbcType="VARCHAR" />
    <result column="android_type" property="androidType" jdbcType="INTEGER" />
    <result column="android_address" property="androidAddress" jdbcType="INTEGER" />
    <result column="android_pwd" property="androidPwd" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    e_id, e_name, e_standard, e_manufacturer, e_type, e_date, e_state, e_enable, e_longitude, 
    e_latitude, e_condition, android_type, android_address, android_pwd
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smart.sperms.dao.model.EquipmentExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from equipment
    where e_id = #{eId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from equipment
    where e_id = #{eId,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smart.sperms.dao.model.EquipmentExample" >
    delete from equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smart.sperms.dao.model.Equipment" >
    insert into equipment (e_id, e_name, e_standard, 
      e_manufacturer, e_type, e_date, 
      e_state, e_enable, e_longitude, 
      e_latitude, e_condition, android_type, 
      android_address, android_pwd)
    values (#{eId,jdbcType=VARCHAR}, #{eName,jdbcType=VARCHAR}, #{eStandard,jdbcType=VARCHAR}, 
      #{eManufacturer,jdbcType=VARCHAR}, #{eType,jdbcType=VARCHAR}, #{eDate,jdbcType=TIMESTAMP}, 
      #{eState,jdbcType=VARCHAR}, #{eEnable,jdbcType=INTEGER}, #{eLongitude,jdbcType=VARCHAR}, 
      #{eLatitude,jdbcType=VARCHAR}, #{eCondition,jdbcType=VARCHAR}, #{androidType,jdbcType=INTEGER}, 
      #{androidAddress,jdbcType=INTEGER}, #{androidPwd,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.smart.sperms.dao.model.Equipment" >
    insert into equipment
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        e_id,
      </if>
      <if test="eName != null" >
        e_name,
      </if>
      <if test="eStandard != null" >
        e_standard,
      </if>
      <if test="eManufacturer != null" >
        e_manufacturer,
      </if>
      <if test="eType != null" >
        e_type,
      </if>
      <if test="eDate != null" >
        e_date,
      </if>
      <if test="eState != null" >
        e_state,
      </if>
      <if test="eEnable != null" >
        e_enable,
      </if>
      <if test="eLongitude != null" >
        e_longitude,
      </if>
      <if test="eLatitude != null" >
        e_latitude,
      </if>
      <if test="eCondition != null" >
        e_condition,
      </if>
      <if test="androidType != null" >
        android_type,
      </if>
      <if test="androidAddress != null" >
        android_address,
      </if>
      <if test="androidPwd != null" >
        android_pwd,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        #{eId,jdbcType=VARCHAR},
      </if>
      <if test="eName != null" >
        #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eStandard != null" >
        #{eStandard,jdbcType=VARCHAR},
      </if>
      <if test="eManufacturer != null" >
        #{eManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="eType != null" >
        #{eType,jdbcType=VARCHAR},
      </if>
      <if test="eDate != null" >
        #{eDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eState != null" >
        #{eState,jdbcType=VARCHAR},
      </if>
      <if test="eEnable != null" >
        #{eEnable,jdbcType=INTEGER},
      </if>
      <if test="eLongitude != null" >
        #{eLongitude,jdbcType=VARCHAR},
      </if>
      <if test="eLatitude != null" >
        #{eLatitude,jdbcType=VARCHAR},
      </if>
      <if test="eCondition != null" >
        #{eCondition,jdbcType=VARCHAR},
      </if>
      <if test="androidType != null" >
        #{androidType,jdbcType=INTEGER},
      </if>
      <if test="androidAddress != null" >
        #{androidAddress,jdbcType=INTEGER},
      </if>
      <if test="androidPwd != null" >
        #{androidPwd,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smart.sperms.dao.model.EquipmentExample" resultType="java.lang.Integer" >
    select count(*) from equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update equipment
    <set >
      <if test="record.eId != null" >
        e_id = #{record.eId,jdbcType=VARCHAR},
      </if>
      <if test="record.eName != null" >
        e_name = #{record.eName,jdbcType=VARCHAR},
      </if>
      <if test="record.eStandard != null" >
        e_standard = #{record.eStandard,jdbcType=VARCHAR},
      </if>
      <if test="record.eManufacturer != null" >
        e_manufacturer = #{record.eManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="record.eType != null" >
        e_type = #{record.eType,jdbcType=VARCHAR},
      </if>
      <if test="record.eDate != null" >
        e_date = #{record.eDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.eState != null" >
        e_state = #{record.eState,jdbcType=VARCHAR},
      </if>
      <if test="record.eEnable != null" >
        e_enable = #{record.eEnable,jdbcType=INTEGER},
      </if>
      <if test="record.eLongitude != null" >
        e_longitude = #{record.eLongitude,jdbcType=VARCHAR},
      </if>
      <if test="record.eLatitude != null" >
        e_latitude = #{record.eLatitude,jdbcType=VARCHAR},
      </if>
      <if test="record.eCondition != null" >
        e_condition = #{record.eCondition,jdbcType=VARCHAR},
      </if>
      <if test="record.androidType != null" >
        android_type = #{record.androidType,jdbcType=INTEGER},
      </if>
      <if test="record.androidAddress != null" >
        android_address = #{record.androidAddress,jdbcType=INTEGER},
      </if>
      <if test="record.androidPwd != null" >
        android_pwd = #{record.androidPwd,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update equipment
    set e_id = #{record.eId,jdbcType=VARCHAR},
      e_name = #{record.eName,jdbcType=VARCHAR},
      e_standard = #{record.eStandard,jdbcType=VARCHAR},
      e_manufacturer = #{record.eManufacturer,jdbcType=VARCHAR},
      e_type = #{record.eType,jdbcType=VARCHAR},
      e_date = #{record.eDate,jdbcType=TIMESTAMP},
      e_state = #{record.eState,jdbcType=VARCHAR},
      e_enable = #{record.eEnable,jdbcType=INTEGER},
      e_longitude = #{record.eLongitude,jdbcType=VARCHAR},
      e_latitude = #{record.eLatitude,jdbcType=VARCHAR},
      e_condition = #{record.eCondition,jdbcType=VARCHAR},
      android_type = #{record.androidType,jdbcType=INTEGER},
      android_address = #{record.androidAddress,jdbcType=INTEGER},
      android_pwd = #{record.androidPwd,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.sperms.dao.model.Equipment" >
    update equipment
    <set >
      <if test="eName != null" >
        e_name = #{eName,jdbcType=VARCHAR},
      </if>
      <if test="eStandard != null" >
        e_standard = #{eStandard,jdbcType=VARCHAR},
      </if>
      <if test="eManufacturer != null" >
        e_manufacturer = #{eManufacturer,jdbcType=VARCHAR},
      </if>
      <if test="eType != null" >
        e_type = #{eType,jdbcType=VARCHAR},
      </if>
      <if test="eDate != null" >
        e_date = #{eDate,jdbcType=TIMESTAMP},
      </if>
      <if test="eState != null" >
        e_state = #{eState,jdbcType=VARCHAR},
      </if>
      <if test="eEnable != null" >
        e_enable = #{eEnable,jdbcType=INTEGER},
      </if>
      <if test="eLongitude != null" >
        e_longitude = #{eLongitude,jdbcType=VARCHAR},
      </if>
      <if test="eLatitude != null" >
        e_latitude = #{eLatitude,jdbcType=VARCHAR},
      </if>
      <if test="eCondition != null" >
        e_condition = #{eCondition,jdbcType=VARCHAR},
      </if>
      <if test="androidType != null" >
        android_type = #{androidType,jdbcType=INTEGER},
      </if>
      <if test="androidAddress != null" >
        android_address = #{androidAddress,jdbcType=INTEGER},
      </if>
      <if test="androidPwd != null" >
        android_pwd = #{androidPwd,jdbcType=VARCHAR},
      </if>
    </set>
    where e_id = #{eId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.sperms.dao.model.Equipment" >
    update equipment
    set e_name = #{eName,jdbcType=VARCHAR},
      e_standard = #{eStandard,jdbcType=VARCHAR},
      e_manufacturer = #{eManufacturer,jdbcType=VARCHAR},
      e_type = #{eType,jdbcType=VARCHAR},
      e_date = #{eDate,jdbcType=TIMESTAMP},
      e_state = #{eState,jdbcType=VARCHAR},
      e_enable = #{eEnable,jdbcType=INTEGER},
      e_longitude = #{eLongitude,jdbcType=VARCHAR},
      e_latitude = #{eLatitude,jdbcType=VARCHAR},
      e_condition = #{eCondition,jdbcType=VARCHAR},
      android_type = #{androidType,jdbcType=INTEGER},
      android_address = #{androidAddress,jdbcType=INTEGER},
      android_pwd = #{androidPwd,jdbcType=VARCHAR}
    where e_id = #{eId,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.smart.sperms.dao.model.EquipmentExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>