<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.sperms.dao.mapper.EquipmentErrCodeMapper" >
  <resultMap id="BaseResultMap" type="com.smart.sperms.dao.model.EquipmentErrCode" >
    <id column="err_code" property="errCode" jdbcType="VARCHAR" />
    <result column="err_name" property="errName" jdbcType="VARCHAR" />
    <result column="err_desc" property="errDesc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    err_code, err_name, err_desc
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smart.sperms.dao.model.EquipmentErrCodeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment_err_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from equipment_err_code
    where err_code = #{errCode,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from equipment_err_code
    where err_code = #{errCode,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.smart.sperms.dao.model.EquipmentErrCodeExample" >
    delete from equipment_err_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smart.sperms.dao.model.EquipmentErrCode" >
    insert into equipment_err_code (err_code, err_name, err_desc
      )
    values (#{errCode,jdbcType=VARCHAR}, #{errName,jdbcType=VARCHAR}, #{errDesc,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smart.sperms.dao.model.EquipmentErrCode" >
    insert into equipment_err_code
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="errCode != null" >
        err_code,
      </if>
      <if test="errName != null" >
        err_name,
      </if>
      <if test="errDesc != null" >
        err_desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="errCode != null" >
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errName != null" >
        #{errName,jdbcType=VARCHAR},
      </if>
      <if test="errDesc != null" >
        #{errDesc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smart.sperms.dao.model.EquipmentErrCodeExample" resultType="java.lang.Integer" >
    select count(*) from equipment_err_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update equipment_err_code
    <set >
      <if test="record.errCode != null" >
        err_code = #{record.errCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errName != null" >
        err_name = #{record.errName,jdbcType=VARCHAR},
      </if>
      <if test="record.errDesc != null" >
        err_desc = #{record.errDesc,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update equipment_err_code
    set err_code = #{record.errCode,jdbcType=VARCHAR},
      err_name = #{record.errName,jdbcType=VARCHAR},
      err_desc = #{record.errDesc,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.smart.sperms.dao.model.EquipmentErrCode" >
    update equipment_err_code
    <set >
      <if test="errName != null" >
        err_name = #{errName,jdbcType=VARCHAR},
      </if>
      <if test="errDesc != null" >
        err_desc = #{errDesc,jdbcType=VARCHAR},
      </if>
    </set>
    where err_code = #{errCode,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.smart.sperms.dao.model.EquipmentErrCode" >
    update equipment_err_code
    set err_name = #{errName,jdbcType=VARCHAR},
      err_desc = #{errDesc,jdbcType=VARCHAR}
    where err_code = #{errCode,jdbcType=VARCHAR}
  </update>
  <select resultMap="BaseResultMap" parameterType="com.smart.sperms.dao.model.EquipmentErrCodeExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from equipment_err_code
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
</mapper>