<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.smart.sperms.dao.mapper.ScrappMapper" >
  <resultMap id="BaseResultMap" type="com.smart.sperms.dao.model.Scrapp" >
    <result column="e_id" property="eId" jdbcType="VARCHAR" />
    <result column="sc_time" property="scTime" jdbcType="TIMESTAMP" />
    <result column="sc_reason" property="scReason" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap id="DtoResultMap" type="com.smart.sperms.dao.dto.ScrappDto" >
    <result column="e_id" property="eId" jdbcType="VARCHAR" />
    <result column="sc_time" property="scTime" jdbcType="TIMESTAMP" />
    <result column="sc_reason" property="scReason" jdbcType="VARCHAR" />
    <result column="e_name" property="eName" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    e_id, sc_time, sc_reason
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.smart.sperms.dao.model.ScrappExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scrapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <delete id="deleteByExample" parameterType="com.smart.sperms.dao.model.ScrappExample" >
    delete from scrapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.smart.sperms.dao.model.Scrapp" >
    insert into scrapp (e_id, sc_time, sc_reason
      )
    values (#{eId,jdbcType=VARCHAR}, #{scTime,jdbcType=TIMESTAMP}, #{scReason,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.smart.sperms.dao.model.Scrapp" >
    insert into scrapp
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        e_id,
      </if>
      <if test="scTime != null" >
        sc_time,
      </if>
      <if test="scReason != null" >
        sc_reason,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="eId != null" >
        #{eId,jdbcType=VARCHAR},
      </if>
      <if test="scTime != null" >
        #{scTime,jdbcType=TIMESTAMP},
      </if>
      <if test="scReason != null" >
        #{scReason,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.smart.sperms.dao.model.ScrappExample" resultType="java.lang.Integer" >
    select count(*) from scrapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update scrapp
    <set >
      <if test="record.eId != null" >
        e_id = #{record.eId,jdbcType=VARCHAR},
      </if>
      <if test="record.scTime != null" >
        sc_time = #{record.scTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.scReason != null" >
        sc_reason = #{record.scReason,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update scrapp
    set e_id = #{record.eId,jdbcType=VARCHAR},
      sc_time = #{record.scTime,jdbcType=TIMESTAMP},
      sc_reason = #{record.scReason,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <select resultMap="BaseResultMap" parameterType="com.smart.sperms.dao.model.ScrappExample" id="selectByExampleWithRowbounds" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scrapp
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>

  <select id="countByCondition" parameterType="java.util.Map" resultType="java.lang.Integer" >
    select count(*) from scrapp scr
    left join
    equipment equip on scr.e_id = equip.e_id
    where 1=1
    <if test="beginTime != null and endTime != null" >
      and scr.sc_time <![CDATA[ >= ]]> #{beginTime,jdbcType=VARCHAR} and scr.sc_time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
    </if>
    <if test="eName != null" >
      and equip.e_name like CONCAT('%',#{eName},'%')
    </if>
  </select>

  <select resultMap="DtoResultMap" parameterType="java.util.Map" id="selectDtoByConditionWithRowbounds" >
    select scr.*, equip.e_name from scrapp scr
    left join
    equipment equip on scr.e_id = equip.e_id
    where 1=1
    <if test="beginTime != null and endTime != null" >
      and scr.sc_time <![CDATA[ >= ]]> #{beginTime,jdbcType=VARCHAR} and scr.sc_time <![CDATA[ <= ]]> #{endTime,jdbcType=VARCHAR}
    </if>
    <if test="eName != null" >
      and equip.e_name like CONCAT('%',#{eName},'%')
    </if>
    order by scr.sc_time desc
    limit #{offset, jdbcType=INTEGER}, #{pageSize, jdbcType=INTEGER}
  </select>

</mapper>